{% extends "layouts/index.html" %}
{% load static %}

{% block title %}Docker + Django{% endblock %}

{% block body %}
  <div class="flex justify-center pt-24 pb-12 px-2 sm:px-0">
    <img src="{% static 'images/django.png' %}"
         width="480" height="167" alt="Django logo" />
  </div>

  <p class="text-center text-lg mt-6">
   🐳 Learn the Docker fundamentals at:
    <strong>
      <a class="border-b border-gray-900 mb-1" href="https://diveintodocker.com?ref=docker-django-example">https://diveintodocker.com</a>
    </strong>
  </p>
  <div class="text-center mt-10">
    <h1>{{ nombre }}</h1>
    
    {% if grafico_listo %}
      <h3>Gráfico Generado desde la Clase Python:</h3>
      <img src="{% static 'images/grafico.png' %}" alt="Gráfico de Análisis" style="max-width: 80%; border: 2px solid #ddd;">
    {% else %}
      <p style="color: red;">Error: No se pudo cargar el CSV o generar el gráfico.</p>
    {% endif %}
  </div>
  
{% endblock %}
